/* Root variables https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
:root {
    --color-black: #111111;
    --color-light-grey: #f0f0f0;
    --color-dark-grey: #999999;
    --color-highlight: #b6a9bd;
    --color-dark-highlight: #001a33;
}

/* Basic Font Setup */
body {
    padding: 0;
    margin: 0;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    color: var(--color-black);
    font-size: 16px;
}
.container {
    min-height:100%;
}

a {
    color: var(--color-dark-highlight);
}
a:hover {
    color: var(--color-dark-grey)
}

p {
    line-height: 22px;
}

h1, h2, h3, h4, h5 {
    font-family: Zilla Slab, Times, serif;
}


/* Change Boostrap Container Width */
@media (min-width: 544px) {
    .container {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 80%;
        max-width: 1400px;
    }
}


/* Research Items */
.research-item {
    line-height: 22px;
    margin-bottom: 64px;
    margin-top: 64px;
}

.research-title {
    font-weight: bold;
    font-family: Zilla Slab, Times, serif;
    font-size: 20px;
}

.research-coauthors {
    margin: 12px 0 20px 0;
    font-family: Zilla Slab, Times, serif;
    font-style: italic;
    color: #555;
}

.research-journal {
    font-family: Muli, Arial, Helvetica, sans-serif;
    margin: 4px 0 20px 0;
}

.research-abstract {
    line-height: 28px;
    margin: 4px 0 20px 0;
}

hr {
    display: block;
    margin: 1em 0;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid #bbb;
}



